<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  
  
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
    <div class="welcome">
      <% if current_user %>
        <p>Welcome, <%= current_user.first_name %>!  
        <a class="btn btn-default" href="/logout">Logout</a>
      <% else %>
        <a href="/login">Login</a>
      <% end %>
        </p>
    </div>
  
  <div class="nav">
  <nav>

      <h3><p class="navbar-text"><a href="/">Homepage</a></p></h3>
      <p class="navbar-text"><a href="/posts/new">New Post</a></p>
      
  </nav>
  </div>

  <%= yield %>
  <footer></footer>
</body>
</html>
