<section id="signup-form"> 
    <h2>Signup</h2>
    <br>

    <form method="POST" action="/signup" >
      <div class="input-group">

        <label for="first-name" ></label>
        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" />

        <label for="last-name"></label>
        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name"/>

      </div>
      <br>

      <label for="email"></label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" />

      <br>
      <label for="password"></label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Set a password" />

      <br>

      <input class="btn btn-success" type="submit" id="submit" value="Signup, yo" />

    </form>
  </section>